ul{
    list-style: none;
    font-size: 0;
    padding: 10px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    
  }
  ul li{
    display: inline-block;
    border: solid 8px blueviolet; 
    background-color: blueviolet;
    margin: 5px;

  
  }
  ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;

  }
